<style>
  .header-search-form-wrapper {
    visibility: hidden;
  }
  .header-search-form-wrapper .el-input {
    height: 34px;
    overflow: hidden;
  }
  .header-search-form-wrapper .el-input__inner {
    color: #0A2B6F;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 34px;
  }
  .header-search-form-wrapper .el-input__inner::placeholder {
    color: #77878F;
  }
  .header-search-form-wrapper,
  .header-search-form,
  .header-search-form .el-autocomplete {
    width: 100%;
  }
  .header-search-form-wrapper .el-input-group__append {
    border: none;
    background-color: #fff;
  }
  .highlight {
    font-weight: bold;
  }
  @media screen and (min-width: 1200px) {
    .header-search-form-wrapper .el-input {
      height: 36px;
    }
    .header-search-form-wrapper .el-input__inner {
      height: 36px;
    }
  }
</style>
<header-search-form class="header-search-form-wrapper">
  <div id="header-search-form-{{ type }}" class="header-search-form border border-main h-9 fb-md:h-10 rounded-sm text-14">
    <el-autocomplete
      v-model="searchStr"
      :fetch-suggestions="querySearchAsync"
      placeholder="Enter keyword, model #"
      @select="handleSelect"
      @keyup.enter.native="handleSearch"
      :popper-append-to-body="false"
      class="h-full"
    >
      <el-button slot="append" @click="handleSearch">
        <span>{% render 'icon' with 'header-search' %}</span>
      </el-button>
      <template slot-scope="{ item }">
        <div class="search-item flex items-center justify-between gap-2.5">
          <template v-if="searchStr">
            <div  class="search-result" v-html="item.highlightedValue"></div>
          </template>
          <template v-else >
            <div class="search-result ellipsis">${ item.value }</div>
            <span  class="delete" @click.stop="handleDeleteHistory(item)">
              {% render 'icon' with 'v3-delete' %}
            </span>
          </template>
        </div>
      </template>         
    </el-autocomplete>
  </div>
</header-search-form>
