<div class="index-cus-header w-full flex items-center justify-between pb-6 gap-5">
  <h2 class="text-20 fb-md:text-30 font-bold text-121212">{{ header_title }}</h2>
  {% if header_url %}
    <a href="{{ header_url }}">View All</a>
  {% endif %}
</div>