<div class="container pt-5">
  {% raw %}
    <pc-menu-sidebar>
      <div id="pc-menu-nav" class="pc-menu-nav h-[68vh]">
        <div class="flex w-full justify-start h-full grary-scrollerbar">
          <div class="h-full w-18r bg-white pb-4" v-for="(levelData, levelIndex) in visibleLevels" :key="levelIndex"
          :class="isLastLevel(levelData.data) ? 'flex-1' : (levelIndex === 0 ? 'w-18r' : 'w-20r')"
          >
            <ul class="h-full overflow-y-auto flex flex-col border-r border-r-E2E2E2" v-if="!isLastLevel(levelData.data)">
              <li class="px-6 py-2 flex items-center cursor-pointer space-x-3" v-for="(menu, idx) in levelData.data" 
                  :key="idx" 
                  :class="{'bg-F3F8FC font-bold border-l-4 border-l-main': menu.isSelected}" 
                  @mouseenter="handleNextMenu(menu, levelIndex + 1)"
                  @click="navToCollection(menu)">
                  <div class="w-8 h-8 fb-flex-center">
                    <img  :data-src="menu.img" width="36" height="36" class="w-full h-auto object-contain lazyload" :title="menu.name">
                 </div>
                <span class="text-14 text-121212">{{ menu.name }}</span>
              </li>
            </ul>
            <div v-if="isLastLevel(levelData.data)" class="flex-1 px-5 h-full overflow-y-auto">
              <div class="mb-5 w-full">
                <h3 class="text-14 font-bold text-121212">{{ getCurrentCategoryName(levelIndex) }}</h3>
              </div>
              <div class="flex flex-wrap gap-3 w-full">
                <div v-for="(menu, idx) in levelData.data" :key="idx" @click="navToCollection(menu)" class="flex flex-col items-center text-center cursor-pointer w-25">
                  <div class="w-25 h-25 fb-flex-center">
                    <img :data-src="menu.img" :key="menu.img + idx" width="48" height="48" class="lazyload w-full h-auto object-contain mb-2" :title="menu.name">
                  </div>  
                  <p class="text-14 line-clamp-3 text-center text-121212 hover:text-main hover:font-bold hover:underline">
                   {{ menu.name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </pc-menu-sidebar>
  {% endraw %}
</div>