<style>
  .product-attrs-wrapper {
    display: none;
    background-color: #fff;
  }
  .product-attrs-wrapper .product-attrs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .product-attrs-wrapper .product-attrs .attr-line .attr-name-header {
    font-size: 18px;
    font-weight: 700;
    color: var(--my-black);
  }
  .product-attrs-wrapper .product-attrs .attr-line .attrs-wrapper {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  .product-attrs-wrapper .product-attrs .attr-line .attrs-wrapper .attr-btn {
    min-width: 120px;
    padding: 0 20px;
    font-size: 14px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: #999999;
    border: 1px solid #CCCCCC;
  }
  .product-attrs-wrapper .product-attrs .attr-line .attrs-wrapper .attr-btn:hover,
  .product-attrs-wrapper .product-attrs .attr-line .attrs-wrapper .attr-btn.selected {
    border: 1px solid var(--my-blue);
    color: var(--my-black);
    font-weight: 500;
    background-color: #F4F8FC;
  }
  @media screen and (max-width: 999px) {
    .product-attrs-wrapper .product-attrs .attr-line .attr-name-header {
      font-size: 12px;
      line-height: 1;
    }
    .product-attrs-wrapper .product-attrs .attr-line .attrs-wrapper .attr-btn {
      min-width: 80px;
      padding: 0 10px;
      font-size: 12px;
      height: 32px;
    }
    .product-attrs-wrapper .product-attrs .attr-line .attrs-wrapper {
      gap: 10px;
    }
  }
</style>
<div class="product-attrs-wrapper product-meta-line product-meta-line-top">
  <product-attrs
    data-sku="{{ product.selected_or_first_available_variant.sku }}" 
    data-common='{{ product.metafields.product.common }}'
    data-sales='{{ product.metafields.product.sales }}'
  >
    <div class="product-attrs"></div>
  </product-attrs>
</div>
