<div class="toast-container" id="cancellation-toast">
  <div class="toast-mask"></div>
  <div class="toast-wrap">
    <div class="toast-box cancellation-toast">
      <div class="cancellation-cancel">
        <span id="cancellation-cancel">
          {% render 'close.svg' %}
        </span>
      </div>
      <div class="cancellation-form">
        <div class="globo-formbuilder" data-id="MjYzMjU="></div>
      </div>
    </div>
  </div>
</div>
