{%- for media in product.media -%}
  {% case media.media_type %}
    {%- when 'video' -%}
      <div class="my-10 md:my-10">
        <h2 class="flex justify-center mb-5 md:mb-5">
          <span class="text-base md:text-32 font-bold leading-normal text-[#0B2C66] inline-flex pb-2.5 border-b-4 border-[#F4BF18]">Video Showcase</span>
        </h2>
        <native-video
          class="video-wrapper video-wrapper--native"
          style="--aspect-ratio: 375 / 210"
        >
          {%- unless section.settings.enable_video_autoplay -%}
            <div class="video-wrapper__poster">
              <img
                width="auto"
                height="auto"
                class="video-wrapper__poster-image"
                loading="lazy"
                sizes="(max-width: 999px) calc(100vw - 48px), 640px"
                {% render 'image-attributes',
                  image: media.preview_image,
                  sizes: '400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200'
                %}
              >

              <div class="video-wrapper__poster-content">
                <button
                  type="button"
                  class="video-wrapper__play-button"
                  title="{{ 'general.accessibility.play_video' | t | escape }}"
                >
                  {%- render 'icon' with 'play', class: 'w-9 h-9 md:w-[72px] md:h-[72px]' -%}
                </button>
              </div>
            </div>
          {%- endunless -%}

          <template>
            {{-
              media
              | video_tag:
                image_size: '1024x',
                controls: true,
                autoplay: true,
                muted: section.settings.enable_video_autoplay,
                loop: section.settings.enable_video_looping
            -}}
          </template>
        </native-video>
      </div>
    {% endcase %}
{% endfor %}

  {% schema %}
{
  "name": "product video",
  "class": "container",
  "settings": [
      
  ],
  "presets": [
    {"name": "product video"}
  ]
}
{% endschema %}