<h1 class="visually-hidden">{{ section.settings.title }}</h1>
{% schema %}
{
  "name": "SEO H1 TITLE",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
  ],
  "presets": [
    {
      "name": "SEO H1 TITLE"
    }
  ]
}
{% endschema %}