.account-wish {}

.account-wish-item {
  display: grid;
  -webkit-display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 24px 0 24px;
  gap: 32px;
  border-top: 1px solid var(--my-border);
}

.account-wish-item .el-button.el-button--primary {
  width: 180px;
  height: 30px;
  padding: 0;
}

.account-wish .global-vendor {
  font-size: 16px;
  color: #1A1A1A;
  text-transform: none;
  line-height: 21px;
}

.account-wish .global-title {
  font-weight: 500;
  font-size: 14px;
  color: #1A1A1A;
  line-height: 21px;
}

.account-wish-item-action {
  display: flex;
  flex-direction: column;
}

.account-wish-item-action main {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.account-wish-item-action main .add-to-cart {
  font-size: 16px;
  width: 120px;
  height: 40px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  border: 1px solid #e72d35;
  color: #e72d35;
  border-radius: 6px;
}

.account-item-num-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-item-num-wrapper .account-action {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 16px;
}

.account-wish-item-action footer {
  margin-top: 16px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.account-wish-item-action footer .el-button--text {
  width: 80px;
  text-align: left;
}

.account-wish-item-action footer .el-popover__reference {
  text-decoration: underline;
  font-size: 14px;
  color: #1A1A1A;
}

.account-wish-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 116px;
  height: 30px;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid var(--my-border);
  color: var(--my-grey);
}

.account-wish-counter button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.account-wish-counter input {
  width: 40px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 14px;
  user-select: none;
  font-weight: 600;
}

.account-wish .el-button--primary {
  font-weight: bold;
}

.account-wish-item-product {
  display: grid;
  -webkit-display: grid;
  height: 100%;
  grid-template-columns: auto 1fr;
  gap: 18px;
}

.account-wish .product-img {
  position: relative;
  width: 146px;
  height: 146px;
  object-fit: cover;
  overflow: hidden;
}

.account-wish .product-info {
  flex-grow: 1;
}

.account-wish .product-name a {
  cursor: pointer;
  text-decoration: unset !important;
}

.account-wish .product-sku {
  margin-top: 10px;
  font-size: 14px;
  color: #1A1A1A;
}

.account-wish .product-stock {
  font-size: 12px;
}

.account-wish .product-stock .product-stock-tips {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 1;
  font-weight: 900;
}



@media screen and (max-width: 740px) {
  .account-wish .product-img {
    width: 98px;
    border: none;
    height: 98px;
  }

  .account-wish .global-title {
    line-height: 1.2;
    font-size: 12px;
    color: var(--my-blue);
  }

  .account-wish-item {
    padding: 16px 8px;
    border-top: 0;
    margin: 0 8px;
    border-bottom: 1px solid var(--my-border);
    align-items: start;
    grid-template-columns: auto 1fr;
    gap: 10px;
  }

  .account-wish-item:last-child {
    border-bottom: none;
  }

  .account-wish-counter {
    width: 120px;
  }

  .account-wish-item-product {
    display: block;
  }

  .account-wish .product-stock {
    margin-top: 0;
  }

  .account-wish .product-stock .product-ship-tips {
    gap: 6px;
  }

  .account-wish .global-vendor {
    margin-top: 14px;
  }

  .account-wish .global-vendor a {
    font-size: 12px;
    color: #191B1E;
    line-height: 15px;
    font-weight: 600;
  }

  .account-wish-item-action {
    flex-direction: column;
    padding-left: 0;
    border-left: unset;
    margin-top: 14px;
    gap: 10px;
  }

  .account-wish-header .account-action {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .account-wish-item-action footer {
    margin-top: 0;
    gap: 10px;
    align-items: flex-end;
  }

  .account-wish-item-action main {
    margin-top: 0;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .account-wish-item-action header span:nth-child(1) {
    font-size: 16px;
  }

  .account-wish-item .el-button.el-button--primary {
    width: 120px;
    height: 30px;
    font-size: 14px;
  }

  .account-wish-item-action footer .el-popover__reference {
    font-size: 12px;
  }

  .account-list-wrapper {
    margin-bottom: 16px;
    border-radius: 2px;
  }
}