.account-order .account-order-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.account-order .el-btn {
  padding: 8px 22px;
  margin-left: auto;
}
.el-reset-from .el-form-btn .el-dialog--btn-cancel {
  width: 110px;
}
.account-order-line {
  border-radius: 2px;
  transition: all .3s;
  border: 1px solid #E6E6E6;
}

.account-order-line header {
  padding: 0 16px;
  height: 36px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  background: #F4F8FC;
}

.account-order-line main {
  padding: 16px;
}

.account-order-line footer {
  border-top: 1px solid #E6E6E6;
  padding: 10px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.account-order-line .account-order-actions {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #1A1A1A;
  align-items: center;
}
.account-order-line .account-order-actions .el-button--text{
  font-weight: 400;
  padding: 0;
}
.account-order-actions .dot {
  color: #808080;
}

.account-order-actions a {
  text-decoration-line: underline;
}

.account-order-line header div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.account-order-line header div span {
  font-size: 12px;
}

.account-order-line header div span:nth-child(1) {
  color: #808080;
}

.account-order-line header div span:nth-child(2) {
  color: var(--my-black);
}

.account-order-line .order-number {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.account-order-line main {
  display: flex;
  justify-content: space-between;
}

.account-order-line main .line-item-middle {
  margin-left: 40px;
  gap: 14px;
  row-gap: 16px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-evenly;
}

.account-order-line main .opacity-none {
  opacity: 0;
  color: #fff;
}

.account-order-line main .order-product-info {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 166px;
  color: var(--my-grey);
}

.account-order-line main .order-product-info img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.account-order-line main .account-order-line-item {
  line-height: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.account-order-line main .account-order-line-item>div {
  font-size: 14px;
  color: #1A1A1A;
  line-height: 21px;
}

.account-order-line main .account-order-line-item span:nth-child(1) {
  font-size: 12px;
  color: #999999;
}



.account-order-line main .account-order-line-item .order-status {
  color: var(--my-black);
}

@media screen and (min-width: 741px) {
  .account-order-line:hover {
    box-shadow: 0 2px 12px #0000001a;
  }
}

@media screen and (max-width: 740px) {
  .account-order-line header {
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0;
  }

  .account-order-line main .line-item-middle {
    flex-direction: column;
  }

  .account-order-line main .order-product-info {
    min-width: auto;
  }

  .account-order-line main .order-product-info img {
    width: 90px;
    height: 90px;
  }

  .account-order-line header div {
    justify-content: space-between;
  }

  .account-order-line main {
    padding: 12px;
    gap: 10px;
  }

  .account-order-line main .account-order-line-item span:nth-child(1) {
    line-height: normal;
    min-width: 80px;
  }

  .account-order-line main .account-order-line-item {
    flex-direction: row;
  }

  .account-order-line main .order-product-info {
    align-items: flex-start;
    flex-direction: column;
  }

  .account-order-line main .account-order-line-item>div {
    font-size: 12px;
    text-align: right;
    flex: 1;
    line-height: normal;
  }

  .account-order-line main .line-item-middle {
    align-self: flex-start;
    margin-left: 0;
    row-gap: 14px;
  }
}