.account-address-item-container {
  margin: 16px 0;
  border-top: 1px solid var(--my-border);
}

.account-address-item-container:first-child {
  border-top: none;
}

.account-address-item {
  padding: 16px 16px 0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account-address-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-info {
  font-size: 14px;
  color: var(--my-black);
}

.account-address-default {
  font-size: 12px;
  line-height: 1;
}

.account-address-default span {
  color: var(--my-blue);
}

.account-address-action {
  display: flex;
  gap: 16px;
  -webkit-tap-highlight-color: transparent;
  /* 移除点击高亮效果 */
  font-size: 14px;
  color: var(--my-black);
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
}

.account-address-action:active {
  background-color: transparent;
  /* 设置为透明，防止显示点击背景色 */
}

.account-address-action .dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #808080;
}

.address-default {
  margin-top: 16px;
  padding-bottom: 16px;
  background: #f4f8fc;
}

.address-default .address-info {
  font-weight: bold;
}

/* 添加和修改*/
.address-label {
  display: block;
  position: unset;
  text-transform: capitalize;
  padding: 0 0 6px 0;
  color: var(--my-black);
}

/* 添加和修改 -end*/
@media screen and (max-width: 740px) {
  .account-address {
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 16px;
  }

  .account-address-action {
    align-self: flex-start;
    gap: 9px;
    margin-top: 14px;
  }

  .account-address-default {
    margin-top: 16px;
  }

  .account-address-item {
    padding: 12px 6px;
    gap: 0;
  }
}