.product-facet__aside .collapsible-toggle[aria-expanded='true'] {
  background: #f3f8fc !important;
}

@media (min-width: 1200px) {
  .product-facet__main {
    width: calc(100% - 368px);
  }

  /* Filter */
  .product-facet__filters-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0;
  }

  .product-facet__filters-header p {
    text-transform: capitalize;
  }

  .product-facet__filter-item+.product-facet__filter-item {
    border-top: 0;
  }

  .product-facet__aside .collapsible {
    border-top: 0;
  }

  .product-facet__aside .collapsible-search {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid var(--my-border);
  }

  .product-facet__aside .collapsible-search input {
    border: 0;
    width: 100%;
  }

  .product-facet__aside .collapsible-search span {
    cursor: pointer;
    display: flex;
  }

  .checkbox-container .checkbox {
    border-radius: 2px;
    border-color: var(--my-grey);
  }

  .checkbox-container+.checkbox-container {
    margin-top: 0 !important;
  }

  .icon--chevron {
    color: var(--my-blue);
  }
}

.fixed-toolbar {
  display: none;
}

@media (max-width: 1199px) {
  .fixed-toolbar {
    display: block;
    position: fixed;
    left: 0;
    top: 36%;
    z-index: 8;
    background: var(--my-yellow);
    border-radius: 0 2px 2px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .fixed-toolbar button {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    background-color: var(--my-yellow);
    justify-content: center;
    align-items: center;
  }

  .fixed-toolbar svg {
    margin-right: 0 !important;
  }

  .product-facet-right {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .product-facet-right .popover-container {
    border: 1px solid var(--my-border);
    padding: 8px 10px;
    border-radius: 6px;
  }

  /* Product List layout */
  .product-list__inner {
    --product-list-column-gap: 15px;
    --product-list-block-spacing: 15px;
  }

  .product-facet__filter-item+.product-facet__filter-item {
    border-top: 0;
  }

  .product-facet__aside .collapsible {
    border-radius: 0 0 6px 6px !important;
    border: 1px solid var(--my-border);
    border-top: 0;
  }

  .product-facet__aside .collapsible-search {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid var(--my-border);
    border-radius: 6px;
  }

  .product-facet__aside .collapsible-search input {
    border: 0;
    width: 100%;
  }

  .product-facet__aside .collapsible-search span {
    cursor: pointer;
    display: flex;
  }

  .checkbox-container .checkbox {
    border-radius: 2px;
    border-color: var(--my-grey);
  }

  .checkbox-container .checkbox+label {
    text-transform: capitalize !important;
  }

  .checkbox-container .checkbox:checked {
    background-color: var(--my-blue);
    border-color: var(--my-blue);
  }

  .checkbox-container+.checkbox-container {
    margin-top: 0 !important;
  }

  .icon--chevron {
    color: var(--my-blue);
  }

}