.stock-tag.coming-stock{
    background-color: #d4ecd6;
    color: #26a230;
  font-size: 12px;
  border-radius: 2px;
}

.cart__content {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.cart__content-header {
  font-weight: 600;
  font-size: 16px;
  color: #142a6b;
  line-height: 32px;
  text-transform: uppercase;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: #f4f8fc;
  margin-bottom: 0;
}
.line-item__product {
  padding: 0 !important;
  flex: 1;
}

.product-item-meta-top {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 12px;
  align-items: center;
}

{{/* .line-item-title {
  font-size: 14px;
  color: #132A6A;
  line-height: 16px;
}

.line-item-title:hover,
.line-item-title:active {
  text-decoration: underline;
} */}}

.product-item-meta-top .model {
  background: #FFFFFF;
  color: #999999;
}

.line-item-vendor {
  font-weight: 600;
  color: #191B1E;
}

.cart__recap-block {
  display: flex;
  flex-direction: column;
}

.button-action {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart__recap-note {
  margin-bottom: 16px;
  font-size: 14px;
}

.cart__discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.cart__discount-list {
  display: grid;
  -webkit-display: grid;
  grid-gap: 10px;
  gap: 10px;
}

.cart__discount-badge {
  align-self: stretch;
}

.cart__order-note {
  padding-top: 14px;
}

.cart__payment-methods {
  margin-top: 24px;
  text-align: center;
}

.cart__payment-methods-label {
  display: block;
  margin-bottom: 16px;
}

.cart {
  grid-template-columns: 1fr 282px;
  gap: 16px;
}

.cart-login {
  background-color: var(--my-yellow);
  color: var(--my-blue);
}


.cart {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



{{/* .line-item-table tr {
  padding: 16px;
  border-bottom: 1px solid var(--my-border);
} */}}

{{/* .line-item-table tr:last-child {
  border-bottom: 0;
} */}}


{{/* .line-item__image-wrapper {
  align-self: center;
  width: 160px;
  padding: 16px;
} */}}

.product-item-meta {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.line-item-price-list {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  line-height: 1.2;
}

.line-item-right .price {
  font-weight: 600;
  font-size: 28px;
  color: #191B1E;
  line-height: 32px;
}

.line-item-price-list .line-item-price {
  font-weight: 600;
  font-size: 20px;
  color: #191B1E;
}

.cart__recap-block {
  padding: 16px 0;
  border-bottom: 1px solid var(--my-border);
}

.cart__total-container1 {
  padding: 16px 0;
  border-bottom: 1px solid var(--my-border);
}


.line-item-price-list .line-item-percentage {
  font-size: 12px;
  color: #E62D35;
}

{{/* .product-item-meta__title {
  color: var(--my-blue);
  margin-bottom: 10px;
} */}}

{{/* .product-item-meta__title:hover {
  text-decoration: underline;
} */}}

.product-stock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-stock-inner {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--my-green);
  font-weight: 900;
}

/* .product-item-meta .price {
    font-weight: 400;
  } */

.each {
  color: var(--my-blue);
}

@keyframes loadingRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* right */
{{/* .line-item-table .line-item {
  position: relative;
  display: flex;
  justify-content: space-between;
} */}}

.line-item-table .line-item .loading-container {
  animation: loadingRotate 1s infinite linear;
  width: 16px;
  height: 16px;
  display: flex;
}

.line-item-table .line-item__price-list-container {
  padding: 0 !important;
  width: 20%;
}

.line-item-right {
  height: 100%;
  display: flex;
  gap: 14px;
  align-items: flex-end;
  flex-direction: column;
}

.line-item-right .price-list .price {
  text-align: left;
  word-break: break-all;
}



.line-item-right .price--compare {
  font-size: 14px;
  align-items: flex-end;
  color: var(--my-grey);
  font-weight: 400;
}

.line-item-right .quantity-selector__input {
  --quantity-selector-height: 40px;
  flex: 1;
}

.line-item-right .quantity-selector {
  width: 140px;
  height: 32px;
}

.quantity-selector__input {
  height: 32px;
  line-height: 32px;
}

.line-item__remove-button {
  text-align: right;
  color: var(--my-blue);
}

.line-item__remove-button:hover {
  text-decoration-color: inherit;
}

.cart__recap {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 16px;
  background: #f8f8f8;
}

.cart__recap .cart__aside-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: var(--my-blue);
  margin-bottom: 10px;
  text-transform: uppercase;
}


.cart__total-text {
  padding: 16px 0;
  font-size: 14px;
  color: #A9A9A9;
  line-height: 20px;
  color: var(--my-grey);
}

.cart__total-code .title {
  color: var(--my-blue);
  margin-bottom: 16px;
}

.code-input-box {
  display: flex;
}

.cart__total-code .code-input {
  width: 100%;
  border: 1px solid var(--my-yellow);
  height: 40px;
  padding: 0 10px;
  box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}


.line-item__info .global-price {
  width: 100%;
}

.cart__total-code .code-btn {
  font-size: 16px !important;
  font-weight: 600;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  color: var(--my-grey);
}

.page-content {
  margin-bottom: 32px;
}

.remove-cart-btn .loading-container {
  display: none;
}

.remove-cart-btn.loading .loading-container {
  display: block;
}

.remove-cart-btn.loading a {
  display: none !important;
}

.line-discount-percentage {
  font-size: 12px;
  color: #E62D35;
  line-height: 1;
}

@media screen and (min-width: 1000px) {
  .cart {
    display: grid;
    -webkit-display: grid;
    grid-template-columns: 1fr 250px;
    gap: 16px;
  }

  .cart__aside-inner {
    min-height: 480px;
    display: flex;
  }

  .cart__aside-inner {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--header-height, 0px) * var(--enable-sticky-header) + var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar) + 24px);
  }
}

@media screen and (max-width: 999px) {
  .cart__aside {
    order: 1;
  }

  .cart__content {
    order: 2;
  }
}


@media screen and (min-width: 741px) {
  .product-item-meta-top,
  .line-item-right,
  .line-item__info .product-item-meta {
    gap: 0;
  }
  .line-item-vendor,
  .product-item-meta-top .model {
    margin-right: 12px;
  }
  {{/* .line-item-title {
    margin-top: 6px;
    display: block;
  } */}}
  .product-item-meta__property-list {
    margin-right: 30px;
    max-width: 400px;
  }
  .line-item-quantity {
    margin-top: 14px;
  }
}

@media screen and (max-width: 740px) {
  .global-vendor {
    display: block;
  }

  .global-title {
    text-decoration: underline;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* 超出几行省略 */
    overflow: hidden;
  }


  .line-item-table .line-item {
    gap: 16px;
  }



  .line-item-table {
    margin-bottom: 0;
  }

  .line-item-table tr {
    padding: 16px 0;
    border-bottom: 1px solid var(--my-border);
  }

  .line-item-table tr:last-child {
    border-bottom: 0;
  }

  .line-item-table td {
    padding: 0 !important;
  }

  .line-item-price-list {
    align-items: flex-start;
  }

  .line-item__image-wrapper {
    align-self: flex-start;
    width: 100%;
    margin-right: 0 !important;
  }

  .line-item-compare-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
  }

  .product-item-meta-top {
    gap: 10px;
    flex-wrap: wrap;
  }

  .button-action {
    gap: 8px;
  }

  .cart__recap .cart__aside-title {
    margin-bottom: 0;
    line-height: 15px;
  }

  .line-item-price-list .line-item-compare {
    line-height: 1;
  }

  .line-item-price-list {
    gap: 0;
  }

  .line-item-price-list .line-item-price {
    line-height: 1;
  }

  .product-item-meta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
  }
  .product-stock {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .product-stock-inner {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--my-green);
    font-weight: 900;
  }

  /* right */



  .code-input-box {
    display: flex;
  }



  .global-sku {
    margin-bottom: 0;
  }

  .main-cart-table {
    padding: 0 12px;
  }


}