ul,
li,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 主体样式 */
.account-section {
  margin-top: 16px;
}

.account-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-item-header>h1 {
  color: var(--my-blue);
  font-weight: bold;
  font-size: 20px;
}

.account-item-header>span {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
  color: var(--my-yellow);
}

.account-main-container {
  background-color: #fff;
  padding: 36px 24px;
}

.account-item-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

.empty-notify {
  display: flex;
  padding-top: 20px;
  font-size: 14px;
  border-top: 1px solid var(--my-border);
  gap: 8px;
}

.empty-notify p {
  color: var(--my-black);
}

.empty-notify a {
  text-transform: capitalize;
  text-decoration: underline;
  color: var(--my-yellow);
}

.account-main {
  display: grid;
  -webkit-display: grid;
}

/* main header*/

.account-main-item {
  display: grid;
  -webkit-display: grid;
}

.main-info-header {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.main-info-body {
  padding: 30px;
  border-radius: 6px;
  border: 1px solid var(--my-border);
}

/* 自定义滚动条样式 */
.account-list-wrapper::-webkit-scrollbar {
  width: 6px;
  /* 滚动条宽度 */
}

/* 滚动条轨道 */
.account-list-wrapper::-webkit-scrollbar-track {
  background: #f5f4f4;
  /* 轨道颜色 */
}

/* 滚动条滑块 */
.account-list-wrapper::-webkit-scrollbar-thumb {
  background: var(--my-border);
  /* 滑块颜色 */
}

/* 滚动条滑块：鼠标悬停 */
.account-list-wrapper::-webkit-scrollbar-thumb:hover {
  background: #cecece;
  /* 滑块悬停颜色 */
}

.skeleton-wrapper {
  margin-top: 16px;
}

.order-tips {
  padding: 8px;
  border-radius: 2px;
  background-color: var(--my-blue);
  margin-top: 16px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
@media screen and (min-width: 741px) {
  .order-tips .save {
    color: var(--my-yellow);
  }
  
  .order-tips .code {
    color: var(--my-yellow);
  }
}
.account-menu-top {
  position: relative;
  border-radius: 2px;
  word-break: break-word;
  line-height: 1;
  padding: 16px 0;
  font-size: 18px;
  color: #142A6A;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-menu-top .left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}

.stufix-icon .el-input__icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.stufix-icon .el-input__icon svg {
  width: 20px;
  height: 20px;
}
.stufix-icon .el-input__validateIcon,
.stufix-icon .el-icon-circle-close {
  display: none!important;
}
.account-item-num {
  font-size: 14px;
  color: #999999;
  line-height: 1;
}

@media screen and (max-width: 1000px) {
  .account-section {
    grid-template-columns: 30% 1fr;
  }
}

@media screen and (min-width: 741px) {

  /* 主体样式 */
  .account-section {
    display: grid;
    -webkit-display: grid;
    grid-template-columns: 190px 1fr;
    margin-bottom: 80px;
    border: 1px solid var(--my-border);
  }
}

@media screen and (max-width: 740px) {
  .account-item-header h1 {
    line-height: 1;
    font-size: 18px;
  }
  .account-item-header span,
  .account-item-num {
    font-size: 12px;
  }

  .account-item-header-wrapper {
    margin-bottom: 16px;
  }

  .account-main-container {
    padding: 0;
    padding-top: 30px;
    border-top: 1px solid var(--my-border);
  }

  .empty-notify {
    margin-top: 24px;
    min-height: 300px;
  }

  .order-tips {
    color: #142A6A;
    text-align: left;
    padding: 10px 16px;
    margin: 0 -16px;
    font-size: 16px;
    line-height: 25px;
    background-color: #F1C142;
  }

  .account-section {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
  }
}