.product {
  margin-left: 0;
  margin-right: 0;
}
.product-information-title {
  font-size: 24px;
  color: #1A1A1A;
  line-height: 21px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
  .product__media {
    max-width: 600px;
    width: 48%;
    padding-left: 0 !important;
  }
  
  .product__info {
    flex: 1;
    margin-left: 48px;
  }
}

.product-stock-wrapper {
  display: flex;
  align-items: center;
  line-height: 1;
}

.product-stock-wrapper .product-stock {
  padding-left: 16px;
  margin-left: 16px;
  position: relative;
}

.product-stock-wrapper .product-stock::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #1A1A1A;
}

.product__thumbnail {
  padding: 0;
  width: 96px !important;
  height: 96px !important;
  min-width: 96px !important;
}

.product__thumbnail::after {
  border-radius: unset;
  box-shadow: 0 0 0 1px #E6E6E6;
}

.product__thumbnail img {
  height: 100%;
  object-fit: cover;
}


/* product info */
.product-meta {
  background-color: #fff;
}

.cus-product .product-meta__title {
  font-weight: bold;
  margin-bottom: 20px;
  word-wrap: break-word;
  font-size: 24px;
  color: #1A1A1A;
  line-height: 36px;
}

.product-meta__vendor {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #142A6B;
  line-height: 1;
}


.cus-product .price-discount {
  margin-left: 16px;
  position: relative;
  display: flex;
  line-height: 1;
  gap: 6px;
  flex-direction: column;
  padding-left: 16px;
}

.cus-product .price-discount::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #999999;
}

.cus-product .price-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cus-product .price-list {
  flex-direction: row !important;
}

.cus-product .buy-bottom-box .ships .form {
  display: flex;
  gap: 20px;
}

.cus-product .buy-bottom-box .ships .form .input-container {
  width: 204px;
}

.cus-product .buy-bottom-box .ships .form .input-container input {
  height: 40px;
  font-size: 14px;
  color: #999999;
  border: 1px solid #B3B3B3;
  padding: 10px 12px;
  border-radius: 2px;
}

.cus-product .buy-bottom-box .ships .form button {
  width: 108px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0em;
  color: var(--my-blue);
  text-align: center;
  border: 1px solid #142A6B;
  border-radius: 2px;
}
.unit {
  font-size: 14px;
  line-height: 26px;
  align-self: flex-end;
  margin-left: 5px;
  color: #1A1A1A;
}
.cus-product .buy-bottom-box .ships .preferential {
  margin-top: 12px;
  font-size: 14px;
  line-height: 140%;
  color: var(--my-grey);
}

.cus-product .buy-bottom-box .ships .preferential ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product__info .product-list-desc li:nth-child(n+4) {
  display: none;
}
.cus-product .order-sample {
  font-size: 14px;
}

.cus-product .order-sample .el-input__inner {
  font-weight: 400;
}

.cus-product .order-sample>span {
  font-weight: 900;
}

.cus-product .order-sample>span:nth-child(2) {
  cursor: pointer;
  color: var(--my-blue);
  text-decoration: underline;
}

.cus-product .order-sample>span:nth-child(1) {
  color: var(--my-black);
}


.cus-product .product-form__payment-container .quantity {
  color: var(--my-blue);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 12px;
}

.cus-product .subtotal {
  font-weight: 500;
  font-size: 14px;
  color: var(--my-black);
}

.cus-product .subtotal span:nth-child(1) {
  color: var(--my-black);
}

.cus-product .subtotal span:nth-child(2) {
  color: var(--my-grey);
}


.cus-product .product-form__payment-container {
  margin-top: 0;
}

.cus-product .price-discount .price--compare {
  font-size: 16px;
  font-style: normal;
  line-height: 1 !important;
  color: var(--my-grey);
}

.cus-product .price-discount .discount {
  font-size: 12px;
  font-weight: bold;
  color: #E72435;
}

.cus-product .product-meta-box {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1;
  color: #808080;
}

.cus-product .product-meta__sku {
  font-size: 14px;
  line-height: 1;
  color: #808080;
}

.product-meta-line-margin {
  margin: 20px 0;
}

.product-meta-line-top {
  margin-top: 20px;
}

.product-meta-line-bottom {
  margin-bottom: 20px;
}

.product-meta-line {
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}

.ladder-price-box {
  display: flex;
  gap: 20px;
  min-height: 36px;
}

.ladder-price-box .ladder-price-item {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  position: relative;
}

.ladder-price-box .ladder-price-item .ladder-price {
  color: var(--my-blue);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.ladder-price-box .ladder-price-item span {
  color: var(--my-yellow);
  font-weight: 400;
}

.ladder-price-box .ladder-price-item::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: '';
  width: 1px;
  height: 65%;
  background: var(--my-border);
}
.line-item__property {
  margin-top: 16px;
}
.shipping-returns {
  margin-top: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #1A1A1A;
  text-decoration: underline;
}

.ladder-price-box .ladder-price-item:last-child::after {
  display: none;
}

.ladder-price-box .ladder-price-item.active .ladder-price {
  font-size: 18px;
  font-weight: 900;
}

.ladder-price-box .ladder-price-item.active .ladder-price-text,
.ladder-price-box .ladder-price-item.active span {
  font-size: 14px;
  font-weight: 900;
}

.ladder-price-text {
  margin-top: 6px;
  line-height: 1;
  font-size: 12px;
  color: var(--my-grey);
}

.product-meta__price-list-container {
  margin-top: 20px;
}

.product-meta__price-list-container .price-list>.price {
  font-weight: bold;
  font-size: 30px;
  color: #1A1A1A;
  line-height: 36px;
}

.product-meta__price-list-container .price-list .price--compare {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}

.product_variants-box {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.product_variants-box .title {
  color: var(--my-grey);
}

.product_variants-list .metafield-rich_text_field p {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product_variants-list .metafield-rich_text_field p a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--my-border);
  border-radius: 6px;
  text-decoration: unset;
  width: 80px;
}

.product_variants-list .metafield-rich_text_field p a:hover {
  border: 1px solid var(--my-blue);
}

.product_variants-list .metafield-rich_text_field p a:first-child {
  border: 1px solid var(--my-blue);
}

/* product form */
.product-ships strong {
  font-weight: 500;
}
.buy-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 16px;
}
.buy-btn-box {
  display: flex;
  gap: 20px;
  width: 100%;
}

.buy-btn-box .button--full {
  width: 100%;
  padding: 0;
  color: #fff;
}

.product-form__buy-buttons .quantity-selector {
  --quantity-selector-height: 40px;
  border: 1px solid var(--my-border);
  width: 140px;
  border-radius: 2px;
}

.cus-product .product__zoom-button {
  display: none;
}

.cus-product .product__media-image-wrapper {
  cursor: zoom-in;
}

.product-form__payment-container {
  display: flex;
  flex-direction: column;
}

.buy-bottom-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.buy-bottom-box .el-form-item {
  margin-bottom: 0;
  max-width: 200px;
}
.buy-bottom-box .samples {
  font-weight: 500;
}

.buy-bottom-box .samples a {
  color: var(--my-blue);
  text-decoration: underline;
  cursor: pointer;
}

.inquiries-btn[disabled] {
  background: var(--my-border);
  cursor: not-allowed !important;
}

.product-form__add-button.disabled {
  background: var(--my-border) !important;
  cursor: not-allowed !important;
  border: 1px solid;
}

.product-form__add-button {
  position: relative;
  width: 200px;
  background: #F1C041;
  border-radius: 2px;
  color: #142A6B;
  height: 42px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-form__add-button .loader-button__text {
  font-weight: bold;
  gap: 16px;
  font-size: 18px !important;
  text-transform: none !important;
}

@media screen and (min-width:1000px) {
  .product__info.position-sticky,
  .product__media.position-sticky {
    position: sticky;
    top: 120px;
  }
}
@media screen and (max-width:999px) {
  .product__media {
    width: 100%;
  }

  .product__info {
    width: 100%;
    margin-left: 0;
  }
  .product--thumbnails-left .product__media {
    display: flex;
    flex-direction: column-reverse;
  }
  .product--thumbnails-left .product__media {
    position: relative;
  }
}
@media screen and (max-width: 740px) {
  .cus-product .price-discount {
    margin-left: 8px;
    padding-left: 8px;
    gap: 0;
  }
  .ladder-price-box .ladder-price-item {
    padding: 0 12px;
  }
  .product-information-title {
    font-size: 14px;
  }
  .ladder-price-box .ladder-price-item.active .ladder-price {
    font-size: 16px;
  }

  .cus-product .buy-bottom-box .ships .form button,
  .cus-product .buy-bottom-box .ships .form .input-container input {
    height: 36px;
    padding: 0 10px;
  }
  .cus-product .product-meta-box {
    margin-bottom: 12px;
  }
  .product-meta__price-list-container {
    margin-top: 12px;
  }
  .cus-product .subtotal {
    font-size: 12px;
  }
  .product-meta-line-top {
    margin-top: 16px;
  }
  .product-form__add-button {
    width: 150px;
    height: 36px!important;
  }
  .product-form__add-button svg {
    width: 18px;
  }
  .quantity-selector__input {
    line-height: normal!important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: unset;
    font-size: 14px;
    color: var(--my-black);
  }
  .product-form__buy-buttons .quantity-selector {
    border: 1px solid #ccc;
  }
  .quantity-selector__button path {
    fill: #666666;
  }
  .quantity-selector__button,
  .quantity-selector__input {
    height: 34px!important;
  }
  .product-form__add-button .loader-button__text {
    font-size: 14px !important;
    gap: 8px;
  }
  .cus-product .buy-bottom-box .ships .form {
    gap: 8px;
  }
  .cus-product .buy-bottom-box .ships .form button {
    width: 96px;
  }
  .shipping-returns {
    margin-top: 6px;
    font-size: 12px;
  }
  .product-meta-line-bottom {
    margin-bottom: 16px;
  }
  .buy-wrapper,
  .buy-btn-box {
    gap: 8px;
  }

  .product__thumbnail {
    padding: 0;
    width: 76px !important;
    height: 76px !important;
    min-width: 76px !important;
  }

  .product__thumbnail-item {
    padding: 6px;
  }

  .cus-product .subtotal {
    display: flex;
  }

  .cus-product .product-ships p {
    width: max-content;
  }

  .cus-product .product-ships:before {
    margin-right: 6px;
    margin-left: 6px;
  }

  .product-meta__vendor {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1;
  }
  .cus-product .product-meta__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .product-meta__sku {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 12px;
  }
  .product-meta__price-list-container .price-list>.price {
    font-size: 24px;
    line-height: 1;
  }
  .cus-product .buy-bottom-box .ships .form .input-container {
    width: 120px;
  }
  .buy-bottom-box {
    gap: 8px;
  }
  .buy-bottom-box .ships {
    flex: 1;
  }
  .buy-bottom-box .el-reset-from .el-form-item__content,
  .buy-bottom-box .el-reset-from .el-input,
  .el-reset-from .el-input__inner
  {
    height: 36px;
    line-height: 36px;
  }


  .product-meta-line-top {
    padding-top: 16px;
  }
  .product-meta-line {
    padding-top: 16px;
  }
  .product-meta-line-margin {
    margin: 16px 0;
  }
}

