
.feature-imgs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Inter', sans-serif, 'system-ui', '-apple-system';
}
.feature-imgs .feature-imgs-item,
.feature-imgs-item2 {
  display: flex;
  gap: 20px;
}
.feature-imgs .feature-imgs-item.bgColorType1, 
.feature-imgs .feature-imgs-item2.bgColorType1 {
  background-color: #f8f8fB;
}
.feature-imgs .feature-imgs-item.bgColorType2, 
.feature-imgs .feature-imgs-item2.bgColorType2 {
  background-color: #FEFEFE;
}
.feature-imgs .img-wrapper,
.feature-imgs .video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.feature-imgs .type-01 .img-wrapper,
.feature-imgs .type-01 .video-wrapper {
  width: 100%;
}
.feature-imgs .img-wrapper{

}
.feature-imgs .img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.text-desc div,
.text-desc ul,
.text-desc li,
.text-desc p,
.text-container img {
  margin: 0 !important;
  padding: 0;
}

.feature-imgs .feature-imgs-item .img-text-wrapper {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.min-h-media{
  min-height: 200px;
}
.feature-imgs .feature-imgs-item .img-text-wrapper .text-title, 
.feature-imgs-item2 .img-text-wrapper .text-title {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  flex-direction: column;
  color: #0B2C66;
  display: inline-flex;
  padding-bottom: 10px;

  border-bottom: 4px solid #F4BF18;
}
.feature-imgs-item2 .img-text-wrapper .text-title {
  padding-left: 10px;
  padding-right: 10px;
}

.feature-imgs .feature-imgs-item .img-text-wrapper .text-title p {
  margin: 0;
}

.feature-imgs .feature-imgs-item .img-text-wrapper .text-desc, 
.feature-imgs-item2 .img-text-wrapper .text-desc {
  margin-top: 40px;
  word-break: break-word;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-imgs .feature-imgs-item .img-text-wrapper .img-wrapper {
  margin-top: 20px;
}
.feature-imgs-item.type-01 .video-wrapper,
.feature-imgs-item.type-01 video {
  width: 100%;
}
.feature-imgs-item.type-01 video {
  aspect-ratio: 375 / 210;
}
.feature-imgs .feature-imgs-item.type-23 > .img-text-wrapper,
.feature-imgs .feature-imgs-item.type-45 > .img-text-wrapper,
.feature-imgs .feature-imgs-item.type-23 > .img-wrapper,
.feature-imgs .feature-imgs-item.type-45 > .img-wrapper {
  width: 50%;
}

.feature-imgs .feature-imgs-item.type-23.flag {
  flex-direction: row-reverse;
}

.feature-imgs .feature-imgs-item.type-23.flag .img-text-wrapper,
.feature-imgs .feature-imgs-item.type-45.flag .img-text-wrapper {
  padding-left: 90px;
}

.feature-imgs .feature-imgs-item.type-6 .img-wrapper {
  width: 50%;
}
.feature-imgs-item.type-78 .img-text-wrapper {
  width: 50%;
  flex-direction: column;
  padding: 0;
}

.feature-imgs-item.type-78.flag .img-text-wrapper {
  flex-direction: column-reverse;
}

.feature-imgs-item.type-78 .img-text-wrapper .text-container {
  text-align: center;
  padding: 40px 75px;
}

.feature-imgs-item.type-78 .img-text-wrapper .img-wrapper {
  margin-top: 0;
}

.feature-imgs-item.type-78 .img-text-wrapper .text-desc {
  margin-top: 26px;
}


.feature-imgs-item.type-9 {
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.feature-imgs .feature-imgs-item.type-9 .text-title {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  flex-direction: column;
  color: #0B2C66;
  display: inline-flex;
  padding-bottom: 10px;
  border-bottom: 4px solid #F4BF18;
}

.feature-imgs .feature-imgs-item.type-9 .text-title p {
  margin: 0;
}

.feature-imgs .feature-imgs-item.type-9 .text-desc {
  margin-top: 40px;
  word-break: break-word;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-imgs-item2.type-10, 
.feature-imgs-item2.type-11 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
} 

.feature-imgs-item2.type-10 .text-container, 
.feature-imgs-item2.type-11 .text-container {
  text-align: center;
}

.feature-imgs-item2.type-12 {
  display: flex;
  justify-content: space-between;
}
.feature-imgs-item2.type-12 .img-wrapper {
  flex: 1;
}
.feature-imgs-item2 .table-right-wrapper {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.feature-imgs-item2.type-12 .table-right-wrapper .text-container {
  text-align: left;
}
.feature-imgs-item2.type-12 .mob-img-text-wrapper {
  display: none;
}
.table-wrapper-common {
  width: 100%;
  overflow-x: auto;
  position: relative;
   padding-bottom: 10px;
  
}


.table-wrapper-common::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.table-wrapper-common::-webkit-scrollbar-track {
  background: #F0F1F6;
  border-radius: 4px;
}

.table-wrapper-common::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}


.table-wrapper-common table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
.table-wrapper-common table th,
.table-wrapper-common table td {
  padding: 12px;
  width: 120px;
  white-space: normal;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.table-wrapper-common table th {
  color: #FEFEFE;
  font-size: 18px;
  background-color: #0A2B6F;
  font-weight: bold;
}
.table-wrapper-common table td {
  color: #000000;
  font-size: 16px;
}


.table-wrapper-common table th:first-child,
.table-wrapper-common table td:first-child {
  border-left: 1px solid #d8d8d8;
  position: sticky;
  left: 0;
  z-index: 1;
}
.table-wrapper-common table tr:first-child th {
  border-top: 1px solid #d8d8d8;
}
.table-wrapper-common table th:first-child {
  text-align: left;
}
.table-wrapper-common table td:first-child {
  text-align: left;
  font-weight: 500;
}
.table-wrapper-common table td:not(:first-child),
.table-wrapper-common table th:not(:first-child) {
  text-align: center;
}

.table-wrapper-common table tr:nth-child(odd) td {
  background-color: #FEFEFE;
}
.table-wrapper-common table tr:nth-child(odd) td:first-child {
  background-color: #FEFEFE;
}
.table-wrapper-common table tr:nth-child(even) td {
  background-color: #F0F1F6;
}
.table-wrapper-common table tr:nth-child(even) td:first-child {
  background-color: #F0F1F6;
}
.feature-imgs-item2.type-10,.feature-imgs-item2.type-11{
  padding: 40px 0px;
}
.feature-imgs-item2.type-12{
    padding: 40px 20px 40px 0px;
}
@media screen and (max-width: 740px) {
  .min-h-media{
    min-height: 100px;
  }
  .feature-imgs {
    gap: 0;
  }
  .feature-imgs .feature-imgs-item {
    gap: 10px;
    flex-direction: column !important;
  }
  .feature-imgs-item.type-23,
  .feature-imgs-item.type-45,
  .feature-imgs-item.type-78 {
    padding: 20px;
  }
 .feature-imgs-item2.type-10,.feature-imgs-item2.type-11,.feature-imgs-item2.type-12{
    padding: 20px 0px 20px 0px;
  }
  .feature-imgs-item.type-78 .img-text-wrapper,
  .feature-imgs .feature-imgs-item.type-6 .img-wrapper,
  .feature-imgs .feature-imgs-item.type-23 > .img-text-wrapper,
  .feature-imgs .feature-imgs-item.type-45 > .img-text-wrapper,
  .feature-imgs .feature-imgs-item.type-23 > .img-wrapper,
  .feature-imgs .feature-imgs-item.type-45 > .img-wrapper {
    width: 100%;
  }
  .feature-imgs .feature-imgs-item .img-text-wrapper {
    padding: 0;
    order: 1;
  }
  .feature-imgs-item > .img-wrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .feature-imgs .feature-imgs-item.type-23.flag .img-text-wrapper, 
  .feature-imgs .feature-imgs-item.type-45.flag .img-text-wrapper {
    padding-left: 0;
  }
  .feature-imgs .feature-imgs-item .img-text-wrapper .text-title, 
  .feature-imgs-item2 .img-text-wrapper .text-title,
  .feature-imgs .feature-imgs-item.type-9 .text-title {
    font-size: 16px;
  }
  .feature-imgs .feature-imgs-item .img-text-wrapper .text-desc, 
  .feature-imgs-item2 .img-text-wrapper .text-desc,
  .feature-imgs .feature-imgs-item.type-9 .text-desc {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    gap: 12px;
  }
  .feature-imgs-item.type-78 .img-text-wrapper .text-container {
    padding: 0;
    text-align: left;
  }
  .feature-imgs-item.type-78 .img-text-wrapper .text-desc {
    margin-top: 18px;
  }
  .feature-imgs .feature-imgs-item.type-78 .img-text-wrapper {
    padding: 0;
    gap: 10px;
  }
  .feature-imgs-item.type-78.flag .img-text-wrapper {
    flex-direction: column;
  }
  .feature-imgs-item.type-9 {
    text-align: left;
    padding: 20px;
  }
  .feature-imgs-item2 {
    margin-top: 20px;
  }
  .feature-imgs-item2.type-10, 
  .feature-imgs-item2.type-11 {
    gap: 25px;
  }
  .feature-imgs-item2.type-12 {
    flex-direction: column;
  }
  .feature-imgs-item2.type-12 .img-wrapper, 
  .feature-imgs-item2.type-12 .table-wrapper-common {
    width: 100%;
  }
  .feature-imgs-item2.type-12 .table-right-wrapper {
    width: 100%;
    gap: 10px;
  }
  .feature-imgs-item2.type-12 .mob-img-text-wrapper {
    width: 100%;
    display: block;
  }
  .feature-imgs-item2.type-12 .mob-img-text-wrapper .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .feature-imgs-item2.type-12 .table-right-wrapper .img-text-wrapper {
    display: none;
  }
  
  .table-wrapper-common {
    padding: 0px 0px 10px 0px;
  }
  .table-wrapper-common h2 {
    font-size: 16px;
  }
  .table-wrapper-common table th {
    font-size: 12px;
  }
  .table-wrapper-common table td {
    font-size: 10px;
  }
  .table-wrapper-common table th,
  .table-wrapper-common table td {
    padding: 2px 4px;
    width: 82px;
  }
  .table-wrapper-common table td:first-child,
  .table-wrapper-common table th:first-child {
    border-left: none;
  }
  .table-wrapper-common table td:last-child,
  .table-wrapper-common table th:last-child {
    border-right: none;
  }
}