
/* 整体通用*/
.feature-imgs {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Barlow';
}

.feature-imgs .feature-imgs-item {
  display: flex;
  gap: 20px;
}
.feature-imgs .feature-imgs-item.bgColorType1 {
  background-color: #f8f8fB;
}
.feature-imgs .feature-imgs-item.bgColorType2 {
  background-color: #ffffff;
}
.feature-imgs .img-wrapper,
.feature-imgs .video-wrapper {
  display: flex;

}

.feature-imgs .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-desc div,
.text-desc ul,
.text-desc li,
.text-desc p,
.text-container img {
  margin: 0 !important;
  padding: 0;
}

.feature-imgs .feature-imgs-item .img-text-wrapper {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-imgs .feature-imgs-item .img-text-wrapper .text-title {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  flex-direction: column;
  color: #0B2C66;
  display: inline-flex;
  padding-bottom: 10px;
  border-bottom: 4px solid #F4BF18;
}
.feature-imgs .feature-imgs-item .img-text-wrapper .text-title p {
  margin: 0;
}
.feature-imgs .feature-imgs-item .img-text-wrapper .text-desc {
  margin-top: 40px;
  word-break: break-word;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature-imgs .feature-imgs-item .img-text-wrapper .img-wrapper {
  margin-top: 20px;
}

/* 通用-end*/
.feature-imgs-item.type-01 .video-wrapper,
.feature-imgs-item.type-01 video {
  width: 100%;
}
.feature-imgs-item.type-01 video {
  aspect-ratio: 375 / 210;
}
/* 类别 2、3、4、5、7、8  通用*/

.feature-imgs .feature-imgs-item.type-23 > .img-text-wrapper,
.feature-imgs .feature-imgs-item.type-45 > .img-text-wrapper,
.feature-imgs .feature-imgs-item.type-23 > .img-wrapper,
.feature-imgs .feature-imgs-item.type-45 > .img-wrapper {
  width: 50%;
}


.feature-imgs .feature-imgs-item.type-23.flag {
  flex-direction: row-reverse;
}


.feature-imgs .feature-imgs-item.type-23.flag .img-text-wrapper,
.feature-imgs .feature-imgs-item.type-45.flag .img-text-wrapper {
  padding-left: 90px;
}

/* 类别 2、3、4、5、7、8 通用 -end*/

/* 类别 6*/
.feature-imgs .feature-imgs-item.type-6 .img-wrapper {
  width: 50%;
}

/* 类别 6 -end*/


/* 类别 7、8*/
.feature-imgs-item.type-78 .img-text-wrapper {
  width: 50%;
  flex-direction: column;
  padding: 0;
}

.feature-imgs-item.type-78.flag .img-text-wrapper {
  flex-direction: column-reverse;
}

.feature-imgs-item.type-78 .img-text-wrapper .text-container {
  text-align: center;
  padding: 40px 75px;
}

.feature-imgs-item.type-78 .img-text-wrapper .img-wrapper {
  margin-top: 0;
}

.feature-imgs-item.type-78 .img-text-wrapper .text-desc {
  margin-top: 26px;
}

.feature-imgs-item.type-9 {
  flex-direction: column;
  gap: 40px;
  text-align: center;
}
.feature-imgs .feature-imgs-item.type-9 .text-title {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  flex-direction: column;
  color: #0B2C66;
  display: inline-flex;
  padding-bottom: 10px;
  border-bottom: 4px solid #F4BF18;
}
.feature-imgs .feature-imgs-item.type-9 .text-title p {
  margin: 0;
}
.feature-imgs .feature-imgs-item.type-9 .text-desc {
  margin-top: 40px;
  word-break: break-word;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width:740px) {
  .feature-imgs {
    margin: 20px -16px;
    gap: 0;
  }
  .feature-imgs .feature-imgs-item {
    gap: 10px;
    flex-direction: column!important;
  }
  .feature-imgs-item.type-23,
  .feature-imgs-item.type-45,
  .feature-imgs-item.type-78 {
    padding: 20px;
  }
  .feature-imgs-item.type-78 .img-text-wrapper,
  .feature-imgs .feature-imgs-item.type-6 .img-wrapper,
  .feature-imgs .feature-imgs-item.type-23 > .img-text-wrapper,
  .feature-imgs .feature-imgs-item.type-45 > .img-text-wrapper,
  .feature-imgs .feature-imgs-item.type-23 > .img-wrapper,
  .feature-imgs .feature-imgs-item.type-45 > .img-wrapper {
    width: 100%;
  }
  .feature-imgs .feature-imgs-item .img-text-wrapper {
    padding: 0;
    order: 1;
  }
  .feature-imgs-item > .img-wrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .feature-imgs .feature-imgs-item.type-23.flag .img-text-wrapper, 
  .feature-imgs .feature-imgs-item.type-45.flag .img-text-wrapper {
    padding-left: 0;
  }
  .feature-imgs-item.type-78 .img-text-wrapper .text-container {
    padding: 20px 0;
  }
  .feature-imgs .feature-imgs-item .img-text-wrapper .text-title {
    font-size: 16px;
  }
  .feature-imgs-item.type-78 .img-text-wrapper .text-container {
    padding: 0;
    text-align: left;
  }
  .feature-imgs .feature-imgs-item .img-text-wrapper .text-desc {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    gap: 12px;
  }
  .feature-imgs-item.type-78 .img-text-wrapper .text-desc {
    margin-top: 18px;
  }
  .feature-imgs .feature-imgs-item.type-78 .img-text-wrapper {
    padding: 0;
    gap: 10px;
  }
  .feature-imgs-item.type-78.flag .img-text-wrapper {
    flex-direction: column;
  }
  .feature-imgs-item.type-9 {
    text-align: left;
    padding: 20px;
  }
  .feature-imgs .feature-imgs-item.type-9 .text-title {
    font-size: 16px;
  }
  .feature-imgs .feature-imgs-item.type-9 .text-desc {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    gap: 12px;
  }
}

/* 类别 6 -end*/