.product-anchor-sticky-wrapper {
  margin: 50px 0;
  display: none;
}

.product-anchor-sticky {
  padding-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.product-anchor-sticky .product-anchor {
  display: flex;
  gap: 60px;
}

.product-anchor-sticky .product-anchor span {
  display: none;
  cursor: pointer;
  position: relative;
  color: #1A1A1A;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: underline;
}

.product-anchor-sticky .product-anchor span:hover,
.product-anchor-sticky .product-anchor span.active {
  color: #1A1A1A;
}

@media screen and (max-width: 740px) {
  .product-anchor-sticky-wrapper {
    margin: 18px 0;
  }
  .product-anchor-sticky {
    padding: 0;
    border: none;
  }
  .product-anchor-sticky .product-anchor {
    gap: 24px;
  }
  .product-anchor-sticky .product-anchor span {
    font-size: 12px;
  }
}